<header ng-controller="navController">
    <div ng-if="isHome">
        <div class="container-fluid bgimg2" style="height:auto;min-height: 100%;">
            <div class="navigation">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-left" href="#/home">
                            <img class="img-responsive" src="images/logo_final.png" alt="Aum Yoga Studio">
                        </a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-class="{active:isActive('/home')}" ng-click="isHome"><a href="#/home">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inside the Studio <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{active:isActive('/aboutus')}" ng-click="isHome">
                                        <a href="#/aboutus">Who We Are</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/team')}" ng-click="isHome">
                                        <a href="#/team">Our Team</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/passes')}" ng-click="isHome">
                                        <a href="#/passes">Passes &amp; Promos</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/gallery')}">
                                        <a href="#/gallery">Gallary</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/testimonials')}">
                                        <a href="#/testimonial">Testimonials</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-class="{active:isActive('/classes')}" class="dropdown">
                                <a href="#/classes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Classes <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{active:isActive('/description')}">
                                        <a href="#/description">Class Description</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/schedule')}">
                                        <a href="#/schedule">Schedules</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/workshop')}">
                                        <a href="#/workshop">Workshops</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/corpclasses')}">
                                        <a href="#/corpclasses">Corporate classes</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/privateclasses')}">
                                        <a href="#/privateclasses">Private classes</a> </li>
                                </ul>
                            </li>
                            <li ng-class="{active:isActive('/news')}"><a href="#/news">News &amp; Events</a></li>
                            <li ng-class="{active:isActive('/contactus')}"><a href="#/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <p style="padding:150px;"> </p>
            <p class="retroshadow" align="center"> Welcome... <br> To city's longest running yoga studio!!!</p>
        </div>
    </div>
    <div ng-if="!isHome">
        <div class="container-fluid">
            <div class="navigation">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-left" href="#/home">
                            <img class="img-responsive" src="images/logo_final.png" alt="Aum Yoga Studio">
                        </a>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-class="{active:isActive('/home')}"><a href="#/home">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inside the Studio <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{active:isActive('/aboutus')}">
                                        <a href="#/aboutus">Who We Are</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/team')}">
                                        <a href="#/team">Our Team</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/passes')}">
                                        <a href="#/passes">Passes &amp; Promos</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/gallery')}">
                                        <a href="#/gallery">Gallary</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/testimonials')}">
                                        <a href="#/testimonial">Testimonials</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-class="{active:isActive('/classes')}" class="dropdown">
                                <a href="#/classes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Classes <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{active:isActive('/description')}">
                                        <a href="#/description">Class Description</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/schedule')}">
                                        <a href="#/schedule">Schedules</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/workshop')}">
                                        <a href="#/workshop">Workshops</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/corpclasses')}">
                                        <a href="#/corpclasses">Corporate classes</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-class="{active:isActive('/privateclasses')}">
                                        <a href="#/privateclasses">Private classes</a> </li>
                                </ul>
                            </li>
                            <li ng-class="{active:isActive('/news')}"><a href="#/news">News &amp; Events</a></li>
                            <li ng-class="{active:isActive('/contactus')}"><a href="#/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<script>
    $(document).ready(function() {
        $('.navbar .dropdown').hover(function() {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
        }, function() {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
        });

    });

</script>
